#footer_sub {
    width:100%; border-top:1px solid #ddd;

    .inner {width:1180px; height:80px; margin:0px auto;}
}

//tablet
@media screen and (max-width:$tablet){
    
}
//cellphone
@media screen and (max-width:$cellphone){
    
}